{% extends 'base.html' %}
    
  {% block title %}
    Laman Utama - Keselamatan di Internet
  {% endblock %}
    
  {% block content %}
    <h1>Laman Utama</h1>
    <h3> Apa itu Internet? </h3>
    <p> Internet merupakan rangkaian komputer yang berhubung dan menggunakan TCP/IP sebagai protokol pertukaran paket (packet switching communication protocol). Rangkaian dihubungkan dengan kaedah 
    internetworking. 80% daripada maklumat di Internet adalah dalam bahasa Inggeris manakala 20% adalah bahasa selainnya. </p>
    <h3> Mengapa laman web ini diwujudkan? </h3>
    <p> Terdapat pelbagai masalah dalam Internet yang berpunca daripada pengguna Internet yang tidak bertanggungjawab. Antaranya ialah pelanggaran hakcipta, bahan lucah, curian identiti dan fitnah. 
    Semua ini adalah sukar untuk dikawal selia. </p>
  {% endblock %}