{% extends 'base.html' %}
  
{% block title %}
  Keselamatan di media sosial - Keselamatan di Internet
{% endblock %}
  
{% block content %}
  <h1> Keselamatan di Media Sosial </h1>
  <p> Media sosial dicipta untuk memudahkan seseorang berkomunikasi dengan orang lain yang berjauhan. Namun,pada masa ini,kita melihat banyak perkara berunsur cemuhan,ejekan,tohmahan dan fitnah
  di media sosial yang disebarkan oleh pihak yang tidak bertanggungjawab. Oleh itu,bagi menjadikan media sosial sebagai platform yang selamat untuk semua pengguna,ikuti 3 tips di bawah: </p>
  <ol>
  <li> Sebarkan kebaikan - "Segalanya bermula daripada diri anda." Oleh itu,mulakan menyebarkan kebaikan daripada diri anda. Dengan ini,secara automatik pengguna lain akan turut sama 
  menyebarkan kebaikan. </li>
  <li> Sekat - Jika anda sering dibuli di media sosial,ia merupakan buli siber. Jika anda menghadapinya,jangan memberi respon terhadap meesj yang membuatkan anda berasa tidak selesa. Gunakan 
  fungsi 'block' bagi menyekat pembuli. </li>
  <li> Laporkan - Jika anda terus dibuli,laporkan kepada pihak yang bertanggungjawab dan boleh dipercayai seperti ibu bapa. Mereka boleh membantu anda untuk menyelesaikan masalah ini. </li>
  </ol>
  <p> Bonus:Pembuli juga manusia. Mungkin mereka hanya memerluikan sokongan. Jadi,cuba respon dengan kebaikan dan lihat kesannya. </p>
{% endblock %}