{% extends 'base.html' %}
    
  {% block title %}
    Internet: Lautan Informasi - Keselamatan di Internet
  {% endblock %}
    
  {% block content %}
    <h1>Internet: Lautan Informasi</h1>
    <p> Internet boleh diibaratkan seperti sebuah lautan yang mengandungi pelbagai informasi. Namun,bukan semua maklumat boleh dipercayai. Ada yang benar dan ada yang palsu. Sekiranya mempunyai ketidakpastian,ikuti cara-cara di bawah: </p>
    <ol>
      <li> Jika anda memerima e-mel 'scam',elakkan meekan apa-apa link dan kategorikan ia sebagai 'spam'. </li>
      <li> Jika seseorang meminta maklumat peribadi anda,jangan beri. ambil 'screenshot' mesej berkenaan dan beritahu ibu bapa. </li>
      <li> Jika anda menghantar maklumat peribadi ibu bapa anda secara tidak sengaja kepada sesebuah laman web dan menyedari ia adalah 'scam',beritahu ibu bapa. </li>
      <li> Jika seseorang cuba meminta maklumat peribadi anda dengan cara yang menarik, ia dipanggil 'phishing'.Jangan beri apa-apa maklumat kepadanya. </li>
    </ol>
    <p> Kesimpulannya,anda perlu mengetahui untuk membezakan antara yang benar dan yang palsu supaya maklumat peribadi anda tidak jatuh ke tangan yang salah. </p>
  {% endblock %}