{% extends 'base.html' %}
    
  {% block title %}
    Kongsi dengan bijak - Keselamatan di Internet
  {% endblock %}
    
  {% block content %}
    <h1>Kongsi dengan bijak</h1>
      <p> Di media sosial,kita boleh berkongsi apa sahaja. Namun,bukan semua perkara boleh diceritakan kepada semua orang.Disebabkan segala maklumat yang dikongsi boleh dilihat dengan segera oleh 
      semua pengguna,maka kita perlu berfikir dahulu mengenai apa yang hendak dikongsi dan kepada siapa ia akan dikongsi.Ikuti piawaian di bawah: </p>
      <ol>
        <li> Perkara berkaitan keluarga - Hanya berkongsi dengan ahli keluarga anda. </li>
        <li> Elakan daripada berkongsi secara berlebihan dan hanya berkongsi dengan mereka yang layak mengetahui. </li>
        <li> Elakkan juga daripada berkongsi maklumat peribadi seperti alamat rumah,nombor telefon,kata laluan dan nombor kad kredit. </li>
      </ol>
      <p> Fikir masak-masak sebelum berbuat sesuatu supaya tidak menyesal di kemudian hari. Bak kata pepatah, "Sesal dahulu pendapatan,sesal kemudian tidak berguna." </p>
  {% endblock %}