{% extends 'base.html' %}
    
  {% block title %}
    Sekukuh manakah kata laluan anda? - Keselamatan di Internet
  {% endblock %}
    
  {% block content %}
    <h1>Sekukuh manakah kata laluan anda?</h1>
      <p> Dalam Internet,kebanyakan perkara memerlukan akaun supaya laman web megetahui siapa anda. Untuk membuat akaun,kita memerlukan kata laluan. Namun,statistik menunjukkan ramai pengguna menggunakan kata 
      laluan 123456 menjadikannya kata laluan paling umum di dunia diikuti kata laluan 123456789. Bagi membina kata laluan yang kukuh,ikuti langkah-langkah seperti yang ditunjukkan di bawah: </p>
      <ol>
        <li> Fikirkan satu perkataan yang mudah diingati sebagai asas kepada pembinaan kata laluan anda. </li>
        <li> Panjangkan supaya ia mengandungi sekurang-kurangnya 8 aksara. Lebih panjang,lebih baik. </li>
        <li> Gabungkan pengunaan huruf besar dan huruf kecil bagi menjadikannya lebih kukuh. </li>
        <li> Anda juga boleh menambahkan nombor dan simbol dalam kata laluan anda. Ia bagi menjadikan kata laluan anda sangat-sangat kukuh.  </li>
      </ol>
      <p> Ikuti langkah-langkah di atas untuk mewujudkan kata kaluan yang kukuh. Akan tetapi,anda juga perlulah mengingatinya. </p>
      <br>
      <p> Kesimpulanya,walaupun Internet mempunyai pelbagai isu,anda boleh menanganinya dengan mengikuti tips yang disediakan dalam laman web ini. </p>
      <p> Jika sudah habis membaca,anda boleh kembali ke laman utama untuk memberi maklum balas. </p>
  {% endblock %}